<section class="content">
    <div class="box box-default" sl-load sl-view>
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box-data margin-bottom addon-right padding">
                <div class="row">
                    <form name="form">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group require">
                                        <span class="input-group-addon">任务单号</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.code" maxlength="20" ng-blur="getTaskByCode()" ng-maxlength="20" placeholder="扫描或输入任务单号" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">容器编码</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.lpn" maxlength="20" ng-maxlength="20" placeholder="扫描或输入容器编码">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group require">
                                        <span class="input-group-addon">商品编码</span>
                                        <input type="text" name="locCode" class="form-control col-xs-9" ng-model="page.skuCode" maxlength="20" ng-maxlength="20" ng-blur="getTaskBySku()" placeholder="扫描或输入商品编码" sl-autofocus="page.focus.skuCode" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">推荐库位</span>
                                        <input type="text" class="form-control col-xs-9" ng-model="page.data.suggestLocCode" maxlength="20" ng-maxlength="20" placeholder="" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group require">
                                        <span class="input-group-addon">实上库位</span>
                                        <input type="text" name="locCode" class="form-control col-xs-9" ng-model="data.locCode" maxlength="20" ng-maxlength="20" placeholder="扫描或输入实上库位" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group require">
                                        <span class="input-group-addon">商品数量</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.quantity" maxlength="20" ng-maxlength="20" ng-pattern="/^\d+$/" placeholder="请输入数字" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商家名称</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.ownerName" maxlength="20" ng-maxlength="20" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">店铺名称</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.shopName" maxlength="20" ng-maxlength="20" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品名称</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.skuName" maxlength="20" ng-maxlength="20" placeholder="" disabled>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <span class="input-group-addon">商家批号</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.lot" maxlength="20" ng-maxlength="20" placeholder="" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="box-body lead">
                                <div class="text-center">
                                    <label>应上数量</label>
                                    <strong ng-bind="page.data.quantity"></strong>
                                </div>
                                <div class="text-center">
                                    <label>已上数量</label>
                                    <strong ng-bind="page.data.shelvedQuantity"></strong>
                                </div>
                            </div>
                            <div class="box-footer text-center">
                                <button ng-click="save()" ng-disabled="form.$invalid" class="btn btn-normal btn-lg">确认上架</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="box-body border-t">
            <div sl-tab class="box-data">
                <div title="上架记录">
                    <div class="box-data">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="row in page.fields.record.options" ng-bind="row.value"></th>
                                </tr>
                            </thead>
                            <tbody ng-if="!page.record.length">
                                <tr>
                                    <td class="nodata" colspan="{{page.fields.record.options.length - 1}}">
                                        <span>暂无数据</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="page.record.length">
                                <tr ng-repeat="row in page.record">
                                    <td ng-repeat="field in page.fields.record.options">
                                        <span>{{row[field.key]}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div title="任务明细">
                    <div class="box-data">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th ng-repeat="row in page.fields.task.options" ng-bind="row.value"></th>
                                </tr>
                            </thead>
                            <tbody ng-if="!page.task.length">
                                <tr>
                                    <td class="nodata" colspan="{{page.fields.task.options.length - 1}}">
                                        <span>暂无数据</span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-if="page.task.length">
                                <tr ng-repeat="row in page.task">
                                    <td ng-repeat="field in page.fields.task.options">
                                        <span>{{row[field.key]}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-default" ng-back>返回列表</a>
        </div>
    </div>
</section>

<!-- 选择上架批号 -->
<script type="text/ng-template" id="template/instock/task/select.html">
    <div class="modal fade in" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content overflow-modal box box-default">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">选择上架批号</h4>
                </div>
                <form name="form">
                    <div class="modal-body" >
                        <div class="box-data addon-right padding">
                            <div class="row" ng-hide="page.count<=1">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">选择批号</span>
                                        <select class="form-control" ng-model="data" ng-options="v.lotId for v in page.data" ng-change="select(page.index)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">商家批次号</span>
                                        <label ng-bind="data.customerLot"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品状态</span>
                                        <label ng-bind="data.inventoryStatusName"></label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">生产日期</span>
                                        <label ng-bind="data.produceDate"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-addon">失效日期</span>
                                        <label ng-bind="data.expiryDate"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer text-center">
                        <button class="btn btn-primary pull-center" ng-click="close(true)" ng-disabled="form.$invalid">确定</button>
                        <a class="btn btn-default pull-center" ng-click="close(false)">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>