<section class="content">
    <div class="box box-default" sl-load sl-view>
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body" sl-tab>
            <div title="任务明细">
                <div class="box-data">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="row in page.fields.task.options" ng-bind="row.value"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!data.task.length">
                            <tr>
                                <td class="nodata" colspan="{{page.fields.task.options.length - 1}}">
                                    <span>暂无数据</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="data.task.length">
                            <tr ng-repeat="row in data.task">
                                <td ng-repeat="field in page.fields.task.options">
                                    <span>{{row[field.key]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div title="上架记录">
                <div class="box-data">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="row in page.fields.record.options" ng-bind="row.value"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!data.record.length">
                            <tr>
                                <td class="nodata" colspan="{{page.fields.record.options.length - 1}}">
                                    <span>暂无数据</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="data.record.length">
                            <tr ng-repeat="row in data.record">
                                <td ng-repeat="field in page.fields.record.options">
                                    <span>{{row[field.key]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-default" ng-back>返回列表</a>
            <a class="btn btn-normal" href="/instock/puton/{{data.id}}" ng-if="page.taskStatus != '2'">执行上架</a>

        </div>
    </div>
</section>
