<section class="content">
    <div class="box box-default" sl-load sl-view>
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box-data margin-bottom addon-right padding">
                <form name="form">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">容器编码</span>
                                    <input type="text" name="name" class="form-control col-xs-9" ng-model="page.data.receiveLpn" maxlength="20" ng-blur="checkLpn()" ng-maxlength="20" placeholder="扫描或输入容器编码" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">商品编码</span>
                                    <input type="text" name="locCode" class="form-control col-xs-9" ng-model="page.data.skuCode" maxlength="20" ng-maxlength="20" ng-blur="checkSku()" placeholder="扫描或输入商品编码" required>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group require">
                                    <span class="input-group-addon">数量</span>
                                    <input type="text" class="form-control col-xs-9" ng-disabled="data.locked" ng-model="page.data.realPackQuantity" ng-pattern="/^\d+$/" maxlength="20" ng-maxlength="20" placeholder="请输入数量" required>
                                </div>
                            </div>
                            <div class="col-sm-2" ng-show="page.data.realPackQuantity">
                                <div class="input-group require">
                                    <div class="sl-combo col-xs-12">
                                        <label>
                                        <input type="checkbox" class="nr-checkbox" ng-model="data.locked" >
                                        <i></i> 锁定
                                        </label>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">包装单位</span>
                                    <select class="form-control" ng-model="page.data.realPackUnitId" ng-options="v.id as v.unitDesc for v in page.deps.goods.basePackUnitVOs" required></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">商品状态</span>
                                    <select class="form-control" ng-model="page.data.inventoryStatus" ng-options="v.id as v.label for v in page.deps.inventoryStatus" required></select>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 view border">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">商品编码</span>
                                    <label class="form-control col-xs-12" ng-bind="page.data.skuCode"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">批次号</span>
                                    <label class="form-control col-xs-12" ng-bind="page.data.invLotVO.customerLot"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">生产日期</span>
                                    <label class="form-control col-xs-12" ng-bind="page.data.invLotVO.produceDate"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                    <div class="box-footer text-center">
                        <button ng-click="exec()" ng-disabled="form.$invalid" class="btn btn-normal btn-lg">确定</button>
                    </div> 
                    </div>
                </div>
                </form>
            </div>
        </div>

        <div class="box-body border-t">
            <div class="box-data">
                <div class="box-operation">
                    <div class="operation-wrap">
                        <span class="title">收货记录</span>
                    </div>
                    <div class="operation-quick">
                        <button class="btn btn-normal" ng-click="save()" ng-disabled="data.length == 0">完成收货</button>
                    </div>
                </div>
                <div class="box-data">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>容器编码</th>
                                <th>商品编码</th>
                                <th>商品名称</th>
                                <th>扫描数量</th>
                                <th>包装单位</th>
                                <th>商品状态</th>
                                <th>生产日期</th>
                                <th>过期日期</th>
                                <th>商家批号</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="!data.length">
                            <tr>
                                <td class="nodata" colspan="10">
                                    <span>暂无记录</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="data.length">
                            <tr ng-repeat="row in data">
                                <td>{{$index + 1}}</td>
                                <td ng-bind="row.receiveLpn"></td>
                                <td ng-bind="row.extra.skuCode"></td>
                                <td ng-bind="row.skuName"></td>
                                <td ng-bind="row.realPackQuantity"></td>
                                <td ng-bind="row.extra.realPackUnitId"></td>
                                <td ng-bind="row.extra.inventoryStatus"></td>
                                <td ng-bind="row.produceDate"></td>
                                <td ng-bind="row.expiryDate"></td>
                                <td ng-bind="row.invLotVO.customerLot"></td>
                                <td>
                                    <button ng-click="cancel($index)">取消</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 编辑批次信息 -->
<script type="text/ng-template" id="template/instock/receive/batch.html">
    <div class="modal fade in" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content overflow-modal box box-default" sl-view >
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" ng-bind="page.title"></h4>
                </div>
                <form name="form">
                    <div class="modal-body" >
                        <div class="box-data addon-right padding">
                            <div class="row" ng-hide="page.count<=1">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">选择批次</span>
                                        <select class="form-control" ng-model="page.index" ng-options="v.id as v.label for v in page.def" ng-change="select(page.index)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[0].control == 1}">
                                        <span class="input-group-addon">商家批次号</span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.customerLot" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[0].control == 1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[1].control == 1}">
                                        <span class="input-group-addon">入库时间</span>
                                        <input datetime-picker date-only feature-only date-format="yyyy-MM-dd" type="datetime" class="form-control col-xs-9 datetime"  ng-model="data.storageDate" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[1].control == 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[2].control == 1}">
                                        <span class="input-group-addon">生产日期</span>
                                        <input datetime-picker date-only feature-only date-format="yyyy-MM-dd" type="text" class="form-control col-xs-9"  ng-model="data.produceDate" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[2].control == 1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[3].control == 1}">
                                        <span class="input-group-addon">失效日期</span>
                                        <input datetime-picker date-only date-format="yyyy-MM-dd" type="text" class="form-control col-xs-9"  ng-model="data.expiryDate" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[3].control == 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[4].control == 1}">
                                        <span class="input-group-addon" ng-bind="page.fields[4].label"></span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.extendProp1" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[4].control == 1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[5].control == 1}">
                                        <span class="input-group-addon" ng-bind="page.fields[5].label"></span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.extendProp2" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[5].control == 1">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[6].control == 1}">
                                        <span class="input-group-addon" ng-bind="page.fields[6].label"></span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.extendProp3" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[6].control == 1">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[7].control == 1}">
                                        <span class="input-group-addon" ng-bind="page.fields[7].label"></span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.extendProp4" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[7].control == 1">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="input-group" ng-class="{'require':page.fields[8].control == 1}">
                                        <span class="input-group-addon" ng-bind="page.fields[8].label"></span>
                                        <input type="text" class="form-control col-xs-9"  ng-model="data.extendProp5" maxlength="50" ng-maxlength="50" placeholder="" ng-required="page.fields[8].control == 1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer text-center">
                        <button class="btn btn-primary pull-center" ng-click="close(true)" ng-disabled="form.$invalid">确定</button>
                        <a class="btn btn-default pull-center" ng-click="close(false)">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
