<section class="content">
    <div class="box box-default" sl-load slt="{model:page.params , search: list}">
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- 功能操作区 -->
            <div class="box-operation">
                <div class="operation-wrap">
                    <button class="btn btn-normal" sl-batch="{'data':data ,ignore:true,'callback':puton}"><i class="fa fa-plus"></i>创建任务</button>
                    <button class="btn btn-op" sl-batch="{'data':data ,'title':'注意','content':'确定删除当前所选收货记录吗？', 'callback':remove}"><i class="fa fa-remove"></i>取消</button>
                </div>
                <div class="operation-quick">
                    <div class="ui-quick-search" slt-quick></div>
                    
                    <button class="btn btn-op" sl-search="page.params.options.base" sl-search-change="search"><i class="fa fa-filter"></i>筛选</button>
                    <button class="btn btn-op " sl-fields="page.fields.model" sl-fields-options="page.fields.options"><i class="fa fa-gear fa-only"></i></button>
                </div>
            </div>
            <div class="box-data">
                <table class="table table-bordered table-striped" sl-table-check>
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox" ng-model="paras.checkall"/>
                                    <i class="fa"></i>
                                </label>
                            </th>
                            <th ng-repeat="row in page.fields.model" slt-filter="row"></th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="{{page.fields.model.length+1}}">
                                <span>暂无数据</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="row.checked"/>
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td ng-repeat="field in page.fields.model">
                                <span>{{row[field.key]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-page row" ng-show="data.length" slt-pagination="page.params.pag"></div>
            </div>
        </div>
    </div>
</section>