<section class="content">
    <div class="box box-default" sl-load slt="{model:page.params , search: list}">
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- 功能操作区 -->
            <div class="box-operation">
                <div class="operation-wrap">
                </div>
                <div class="operation-quick">
                    <div class="ui-quick-search" slt-quick></div>
                    
                    <button class="btn btn-op" sl-search="page.params.options.base" sl-search-change="search"><i class="fa fa-filter"></i>筛选</button>
                    <button class="btn btn-op " sl-fields="page.fields.model" sl-fields-options="page.fields.options"><i class="fa fa-gear fa-only"></i></button>
                </div>
            </div>
            <div class="box-data">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th ng-repeat="row in page.fields.model" slt-filter="row"></th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="{{page.fields.model.length}}">
                                <span>暂无数据</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td ng-repeat="field in page.fields.model">
                                <span>{{row[field.key]}}</span>
                            </td>
                            <td>
                                <a href="/outstock/outpick/{{row['waveId']}}">查看</a>
                                <!-- 数量不同 且 未关闭 -->
                                <a ng-if="row.pickStatus !=3" href="/outstock/outpick/{{row['waveId']}}/picking">执行拣货</a>
                                <a ng-if="row.recieve_status == 1 && row.shelve_status == 2" ng-click="close(row)">取消</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-page row" ng-show="data.length" slt-pagination="page.params.pag"></div>
            </div>
        </div>
    </div>
</section>