<section class="content">
    <div class="box box-default" sl-load sl-view>
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="box-data addon-right padding">
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">波次编码</span>
                                    <label class="view" ng-bind="data.waveCode"></label>
                                </div>
                            </div>
                        </div>

                        <!-- 二次分拣时不显示库位编码 -->
                        <div class="row" ng-if="page.type != 3">
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">库位编码</span>
                                    <input type="text" name="name" class="form-control col-xs-9" ng-model="data.locationCode" maxlength="20"  ng-maxlength="20" placeholder="扫描或输入库位编码" sl-autofocus="page.focus.locationCode" required>
                                </div>
                            </div>
                            <div class="col-sm-6" ng-if="page.type != 3">
                                <div class="input-group">
                                    <button ng-click="stockout()" class='btn btn-default btn-op'>缺货</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">商品条码</span>
                                    <input type="text" name="locCode" class="form-control col-xs-9" ng-model="data.skuCode" maxlength="20" ng-maxlength="20" placeholder="扫描或输入商品条码" ng-enter = "scan(data.skuCode,true)" sl-autofocus="page.focus.skuCode" required>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 总拣时显示数量 -->
                        <div class="row" ng-if="page.type == 2">
                            <div class="col-sm-6">
                                <div class="input-group require">
                                    <span class="input-group-addon">数量</span>
                                    <input type="text" name="locCode" class="form-control col-xs-9" ng-model="data.quantity" maxlength="10" ng-maxlength="10" placeholder="输入商品数量" ng-disabled="data.locked" ng-enter="scan(data.skuCode)" sl-autofocus="page.focus.quantity" required>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label>
                                    <input type="checkbox" class="nr-checkbox" ng-model="data.locked"  >
                                    <i></i> 锁定
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">商品名称</span>
                                    <label class="view" ng-bind="page.skuData[data.skuCode] && page.skuData[data.skuCode].skuName"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" ng-if="page.type == 3">
                                <div class="input-group">
                                    <span class="input-group-addon"></span>
                                    <button class='btn btn-default btn-normal'>分拣完成</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 view border">
                        <div class="info-box bg-sl">
                            <div class="info-box-content">
                              <span class="info-box-text">商品条码</span>
                              <span class="info-box-number" ng-bind="page.data.skuCode"></span>

                              <div class="progress">
                                <div class="progress-bar progress-bar-blue" style="width: {{ page.data.progress }}%"></div>
                              </div>
                              <div class="progress-description">
                                <!-- 二次分拣时不显示总数量和已拣数量 -->
                                <div class="desc-block" ng-if="page.type != 3">
                                  <h5 class="desc-header" ng-bind="page.data.skuPlanQuantity"></h5>
                                  <span class="desc-text">总数量</span>
                                </div>
                                <div class="desc-block" ng-if="page.type != 3">
                                  <h5 class="desc-header" ng-bind="page.data.skuPickedQuantity"></h5>
                                  <span class="desc-text">已拣数量</span>
                                </div>

                                <!-- 总拣不显示格子号 -->
                                <div class="desc-block" ng-if="page.type != 2">
                                  <h5 class="desc-header" ng-bind="page.data.storageNo"></h5>
                                  <span class="desc-text">格子号</span>
                                </div>
                              </div>
                            </div>
                            <!-- /.info-box-content -->
                          </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 总拣/边分边拣 显示波次明细-->
        <div class="box-body border-t" ng-if="page.type != 3">
            <div class="box-data">
                <div class="box-operation">
                    <div class="operation-wrap">
                        <span class="title">波次明细</span>
                    </div>
                </div>
                <div class="box-data">
                    <table class="table table-bordered table-striped divide">
                        <thead>
                            <tr>
                                <th>SKU</th>
                                <th>数量</th>
                                <th>已拣数量</th>
                                <th>推荐库位</th>
                                <th>商品名称</th>
                            </tr>
                        </thead>
                        <tbody ng-if="!page.pickingSkus.length">
                            <tr>
                                <td class="nodata" colspan="5">
                                    <span>暂无记录</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="page.pickingSkus.length">
                            <tr ng-repeat="row in page.pickingSkus">
                                <td ng-bind="row.skuCode"></td>
                                <td ng-bind="row.skuPlanQuantity"></td>
                                <td ng-bind="row.skuPickedQuantity"></td>
                                <td ng-bind="row.srcLocationCode"></td>
                                <td ng-bind="row.skuName"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- 二次分拣/边分边拣 显示分拣框-->
        <div class="box-body border-t" ng-if="page.type != 2">
            <div class="box-data">
                <table ng-class="{'highlight-top':page.process}" class="table table-bordered table-striped divide">
                    <thead>
                        <tr>
                            <th>格子号</th>
                            <th>订单号</th>
                            <th>商品总数</th>
                            <th>已拣数量</th>
                            <th>商品信息</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!page.storage.length">
                        <tr>
                            <td class="nodata" colspan="4">
                                <span>暂无记录</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="page.storage.length">
                        <tr ng-repeat="row in page.storage | orderBy:'-timestamp'" ng-class="{'gray':row.timestamp == 0}">
                            <td ng-bind="row.storageNo"></td>
                            <td ng-bind="row.orderNo"></td>
                            <td ng-bind="row.skuPlanQuantity"></td>
                            <td ng-bind="row.skuPickedQuantity"></td>
                            <td ng-bind="row.goodsInfo"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


<script type="text/ng-template" id="template/outstock/picking/complete.html">
    <div class="modal fade in" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content overflow-modal box box-default">
                <div class="modal-body" >
                    <p>当前任务已经拣货完成</p>
                </div>
                <div class="modal-footer text-center">
                    <button class="btn btn-primary pull-center" ng-click="close(1)">确定</button>
                    <a class="btn btn-default pull-center" ng-click="close(2)">二次分拣</a>
                </div>
            </div>
        </div>
    </div>
</script>
