<section class="content">
    <div class="box box-default" sl-load slt="{model:page.params , search: list}">
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- 功能操作区 -->
            <div class="box-operation">
                <div class="operation-wrap">
                    <a class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':6}"><i class="fa fa-print"></i>打印入库单</a>
                    <!-- <a class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':6}"><i class="fa fa-print"></i>打印入库校验单</a> -->
                </div>
                <div class="operation-quick">
                    <div class="ui-quick-search" slt-quick></div>
                    
                    <button class="btn btn-op" sl-search="page.params.options.base" sl-search-change="search"><i class="fa fa-filter"></i>筛选</button>
                    <button class="btn btn-op " sl-fields="page.fields.model" sl-fields-options="page.fields.options"><i class="fa fa-gear fa-only"></i></button>
                </div>
            </div>
            <div class="box-data">
                <table slt-check class="table table-bordered table-striped index-2">
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox"/>
                                    <i class="fa"></i>
                                </label>
                            </th>
                            <th ng-repeat="row in page.fields.model" slt-filter="row"></th>
                            <!-- <th slt-head="page.fields.options"></th> -->
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="{{page.fields.model.length+1}}">
                                <span>暂无数据</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="row.checked"/>
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td ng-repeat="field in page.fields.model">
                                <span>{{row[field.key]}}</span>
                            </td>
                            <td>
                                <a href="/instock/inbill/{{row['id']}}">查看</a>
                                <a ng-if="row.recieveStatus != 2" href="/instock/receive/{{row['id']}}">收货</a>
                                <a ng-if="row.recieveStatus == 1 && row.shelveStatus == 2" ng-click="close(row)">关闭</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-page row" ng-show="data.length" slt-pagination="page.params.pag"></div>
            </div>
        </div>
    </div>
</section>