<section class="content">
    <div class="box box-default" sl-load >
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body" sl-tab>
            <div title="单据明细">
                <div class="box-data view margin-bottom addon-right padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">入库通知单号</span>
                                <label ng-bind="data.inInstorageBillVO.relatedNo1"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">入库单号</span>
                                <label ng-bind="data.inInstorageBillVO.orderNo"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">商家名称</span>
                                <label ng-bind="data.inInstorageBillVO.baseOwner.name"></label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">店铺名称</span>
                                <label ng-bind="data.inInstorageBillVO.baseShop.name"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">业务类型</span>
                                <label ng-bind="data.inInstorageBillVO.businessTypeName"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">所属仓库</span>
                                <label ng-bind="data.inInstorageBillVO.baseWarehouse.warehouseName"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">预期到货时间</span>
                                <label ng-bind="data.inInstorageBillVO.planArrivalDate"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">备注</span>
                                <label ng-bind="data.inInstorageBillVO.remark"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">状态</span>
                                <label ng-bind="data.inInstorageBillVO.statusName"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">创建人</span>
                                <label ng-bind="data.inInstorageBillVO.createdBy"></label>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">创建时间</span>
                                <label ng-bind="data.inInstorageBillVO.createdTime"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="box-data">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th ng-repeat="row in page.fields.detail.options" ng-bind="row.value"></th>
                            </tr>
                        </thead>
                        <tbody ng-if="!data.detailList.length">
                            <tr>
                                <td class="nodata" colspan="{{page.fields.detail.options.length - 1}}">
                                    <span>暂无数据</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="data.detailList.length">
                            <tr ng-repeat="row in data.detailList">
                                <td ng-repeat="field in page.fields.detail.options">
                                    <span>{{row[field.key]}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div title="待上架明细">
                <div class="box-data">
                    <table class="table table-bordered table-striped w-d-last">
                        <thead>
                            <tr>
                                <th ng-repeat="row in page.fields.task.options" ng-bind="row.value"></th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody ng-if="!data.taskList.length">
                            <tr>
                                <td class="nodata" colspan="{{page.fields.task.options.length +1}}">
                                    <span>暂无数据</span>
                                </td>
                            </tr>
                        </tbody>
                        <tbody ng-if="data.taskList.length">
                            <tr ng-repeat="row in data.taskList">
                                <td ng-repeat="field in page.fields.task.options">
                                    <span>{{row[field.key]}}</span>
                                </td>
                                <td>
                                    <a ng-confirm="{'title':'注意','content':'确认取消该条收货明细？取消后需要重新收货！', 'callback':remove, params:row}">取消</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a class="btn btn-default" ng-back>返回列表</a>
            <a ng-if="page.puton" class="btn btn-normal" href="/instock/puton/{{page.id}}">执行上架</a>
        </div>
    </div>
</section>
