<section class="content">
    <div class="box box-default" sl-load >
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->

        <div class="box-body" style="border-bottom: 1px dashed #ccc;"> 
            <div class="box-data">
                <div class="padding">
                        <div class="col-sm-12">
                            <div class="col-sm-12 pad">
                                <div class="col-sm-4">
                                    <span>商家名称：</span>
                                    <span ng-bind="data.ownerName"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>店铺名称：</span>
                                    <span ng-bind="data.shopName"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>系统批号：</span>
                                    <span ng-bind="data.lot"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="col-sm-12 pad">
                                <div class="col-sm-4">
                                    <span>商品编码：</span>
                                    <span ng-bind="data.skuCode"></span>
                                </div>
                                <div class="col-sm-4">
                                    <span>商品名称：</span>
                                    <span ng-bind="data.skuName"></span>
                                </div>
                            </div>
                        </div>
                </div>
            </div>          
        </div>
        <div class="box-body">
            <div class="box-data margin-bottom addon-right padding">
                <div class="row">
                    <form name="form">
                        <div class="col-md-12"> 
                            <div class="box-header">
                                <h4 class="box-title">批号信息修改</h4>    
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">商家批号</span>
                                        <input  type="text" name="name" class="form-control col-xs-9" ng-model="data.customerLot">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">生产日期</span>
                                        <input  type="text" name="name" class="form-control col-xs-9" ng-model="data.produceDate"  datetime-picker date-format="yyyy-MM-dd HH:mm:ss" >
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">过期日期</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.expiryDate" datetime-picker date-format="yyyy-MM-dd HH:mm:ss" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">入库日期</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.storageDate"  datetime-picker date-format="yyyy-MM-dd HH:mm:ss">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">扩展字段1</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.extendProp1">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">扩展字段2</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.extendProp2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">扩展字段3</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.extendProp3">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">扩展字段4</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.extendProp4">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">扩展字段5</span>
                                        <input type="text" name="name" class="form-control col-xs-9" ng-model="data.extendProp5">
                                    </div>
                                </div>
                            </div>
                  
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <a class="btn btn-default" ng-back>返回列表</a>
            <a class="btn btn-normal" ng-click='save()'>保存</a>
        </div>
    </div>
</section>
