<section class="content">
    <form name="form">
        <div class="box box-default" sl-load sl-view>
            <div class="box-header">
                <h3 class="box-title" ng-bind="page.title"></h3>
                <sl-breadcrumb></sl-breadcrumb>
            </div>
            <!-- /.box-header -->
            <div class="box-body" sl-tab>
                <div title="基础信息">
                    <div class="box-data margin-bottom addon-right padding">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group require">
                                    <span class="input-group-addon">规则名称</span>
                                    <input type="text" class="form-control col-xs-9" ng-model="data.ruleName" maxlength="50" ng-maxlength="50" required placeholder="中文、字母或数字，50字符以内">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group require">
                                    <span class="input-group-addon">规则编码</span>
                                    <input type="text" name="name" class="form-control col-xs-9" ng-disabled="page.edit" ng-model="data.ruleCode" maxlength="20" ng-maxlength="20" required placeholder="字母或数字，20字符以内">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group require">
                                    <span class="input-group-addon">所属商家</span>
                                    <select class="form-control" ng-model="data.ownerId" ng-options="v.id as v.label for v in 
                            page.deps.ownerId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="input-group require">
                                    <span class="input-group-addon">所属仓库</span>
                                    <select class="form-control" ng-model="data.warehouseId" ng-options="v.id as v.label for v in page.deps.warehouseId"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-addon">规则说明</span>
                                    <textarea class="form-control col-xs-9" ng-maxlength="200" placeholder="" ng-model="data.remark"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">是否启用</span>
                                    <div sl-radio="data" sl-radio-model="status" class="sl-combo col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div title="规则明细">
                    <div class="box-data margin-bottom addon-right padding">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <span>规则明细</span>&nbsp;
                                    <a ng-click="rule.create()" type="button" class="btn btn-normal" ng-show="!page.view" ng-disabled="page.view"><i class="fa fa-plus"></i>添加明细</a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped through">
                            <thead>
                                <tr>
                                    <th>行号</th>
                                    <th>策略名称</th>
                                    <th>所属库区</th>
                                    <th>规则说明</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody ng-if="!data.upShelvesRuleDetailVOList.length">
                                <tr class="row">
                                    <td class="row" colspan="{{page.fields.model.length}}">
                                        <span>暂无数据</span>
                                </tr>
                            </tbody>
                            <tbody ng-if="data.upShelvesRuleDetailVOList.length">
                                <tr ng-repeat="row in data.upShelvesRuleDetailVOList">
                                    <td ng-bind="row.orderNum"></td>
                                    <td ng-bind="page.deps.tactics_hash[row.tacticsId]"></td>
                                    <td ng-bind="page.deps.type_hash[row.warehouseZoneId.expectationValue]"></td>
                                    <td ng-bind="row.remark"></td>
                                    <td>
                                        <a ng-click="rule.view(row)">查看</a>
                                        <a ng-click="rule.edit(row)">编辑</a>
                                        <a ng-click="rule.del(row)">删除</a>
                                        <!-- <a ng-click="rule.toggle(row)" sl-toggle="row['status']" ></a> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-normal" ng-disabled="form.$invalid" ng-click="save()">保存</button>
                <a class="btn btn-default" ng-back>返回列表</a>
            </div>
        </div>
    </form>
</section>
<!-- 查看/修改 规则明细(模态框) -->
<script type="text/ng-template" id="rule/edit.html">
    <div class="modal fade in" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content overflow-modal box box-default" sl-view>
                <form name="form">
                    <div class="modal-body">
                        <div class="box-data addon-right padding">
                            <div class="row">
                                <div class="col-sm-6 require">
                                    <div class="input-group">
                                        <span class="input-group-addon">行号</span>
                                        <!-- <input type="text" class="form-control col-xs-9" ng-disabled="page.edit" ng-model="data.orderNum" maxlength="50" ng-maxlength="50" placeholder="50个字符以内" required> -->
                                        <input type="text" class="form-control col-xs-9" ng-model="data.orderNum" maxlength="50" ng-maxlength="50" placeholder="50个字符以内" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 require">
                                    <div class="input-group ">
                                        <span class="input-group-addon">策略名称</span>
                                        <select class="form-control" ng-model="data.tacticsId" ng-options="v.id as v.label for v in page.deps.tactics"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>货位限制</h4>
                                    <div class="input-group col-sm-6 require">
                                        <span class="input-group-addon">所属库区</span>
                                        <select class="form-control" ng-model="data.warehouseZoneId.expectationValue" ng-options="v.id as v.name for v in page.deps.types" ng-change='getLocation(page)'></select>
                                    </div>
                                    <div class="input-group col-sm-6 input-group-icon require">
                                        <span class="input-group-addon ">目标库位</span>
                                        <select class="form-control" ng-model="data.warehouseLocationId.expectationValue" ng-options="v.id as v.code for v in page.deps.warehouseLocationId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4>限制条件</h4>
                                    <div class="input-group col-sm-8">
                                        <span class="input-group-addon">订单类型</span>
                                        <select class="form-control" ng-model="data.ordersType.expectationValue" ng-options="v.id as v.label for v in page.deps.ordersType"></select>
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <span class="input-group-addon">商品类别</span>
                                        <select class="form-control" ng-model="data.goodsCategory.expectationValue" ng-options="v.id as v.label for v in page.deps.goodsCategory"></select>
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <span class="input-group-addon">库存状态</span>
                                        <select class="form-control" ng-model="data.inventoryStatus.expectationValue" ng-options="v.id as v.label for v in page.deps.inventorystatus"></select>
                                    </div>
                                    <div class="input-group col-sm-8">
                                        <span class="input-group-addon">存储环境</span>
                                        <select class="form-control" ng-model="data.evn.expectationValue" ng-options="v.id as v.label for v in page.deps.evn"></select>
                                    </div>
                                    <div class="input-group col-sm-8  input-group-icon">
                                        <span class="input-group-addon">指定商品</span>
                                        <input type="text" class="form-control col-xs-9" ng-model="data.platformCode" placeholder="" ng-maxlength="50">
                                        <span class="input-group-addon span-icon"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">规则说明</span>
                                        <input type="text" class="form-control col-xs-9" ng-model="data.remark" maxlength="100" ng-maxlength="100" placeholder="100个字符以内">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer text-center">
                                <button class="btn btn-primary pull-center" ng-if="!page.view" ng-click="close(true)" ng-disabled="form.$invalid">确定</button>
                                <a class="btn btn-default pull-center" ng-click="close(false)">取消</a>
                            </div>
                </form>
                </div>
                </div>
            </div>
</script>
