body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1481px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:295px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10088 {
  position:absolute;
  left:239px;
  top:209px;
  width:1242px;
  height:295px;
}
#u10089 {
  position:absolute;
  left:2px;
  top:140px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10090 {
  position:absolute;
  left:261px;
  top:264px;
  width:108px;
  height:16px;
}
#u10091 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u10092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10092 {
  position:absolute;
  left:400px;
  top:264px;
  width:123px;
  height:16px;
}
#u10093 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u10094 {
  position:absolute;
  left:261px;
  top:341px;
  width:1144px;
  height:153px;
}
#u10095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10095 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10096 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10097 {
  position:absolute;
  left:88px;
  top:0px;
  width:88px;
  height:37px;
}
#u10098 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10099 {
  position:absolute;
  left:176px;
  top:0px;
  width:88px;
  height:37px;
}
#u10100 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10101 {
  position:absolute;
  left:264px;
  top:0px;
  width:88px;
  height:37px;
}
#u10102 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10103 {
  position:absolute;
  left:352px;
  top:0px;
  width:88px;
  height:37px;
}
#u10104 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10105 {
  position:absolute;
  left:440px;
  top:0px;
  width:88px;
  height:37px;
}
#u10106 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10107 {
  position:absolute;
  left:528px;
  top:0px;
  width:88px;
  height:37px;
}
#u10108 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10109 {
  position:absolute;
  left:616px;
  top:0px;
  width:88px;
  height:37px;
}
#u10110 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10111 {
  position:absolute;
  left:704px;
  top:0px;
  width:88px;
  height:37px;
}
#u10112 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10113 {
  position:absolute;
  left:792px;
  top:0px;
  width:88px;
  height:37px;
}
#u10114 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10115 {
  position:absolute;
  left:880px;
  top:0px;
  width:88px;
  height:37px;
}
#u10116 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10117 {
  position:absolute;
  left:968px;
  top:0px;
  width:88px;
  height:37px;
}
#u10118 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u10119 {
  position:absolute;
  left:1056px;
  top:0px;
  width:83px;
  height:37px;
}
#u10120 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u10121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10121 {
  position:absolute;
  left:0px;
  top:37px;
  width:88px;
  height:37px;
  font-size:16px;
}
#u10122 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u10123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10123 {
  position:absolute;
  left:88px;
  top:37px;
  width:88px;
  height:37px;
}
#u10124 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10125 {
  position:absolute;
  left:176px;
  top:37px;
  width:88px;
  height:37px;
}
#u10126 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10127 {
  position:absolute;
  left:264px;
  top:37px;
  width:88px;
  height:37px;
}
#u10128 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10129 {
  position:absolute;
  left:352px;
  top:37px;
  width:88px;
  height:37px;
}
#u10130 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10131 {
  position:absolute;
  left:440px;
  top:37px;
  width:88px;
  height:37px;
}
#u10132 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10133 {
  position:absolute;
  left:528px;
  top:37px;
  width:88px;
  height:37px;
}
#u10134 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10135 {
  position:absolute;
  left:616px;
  top:37px;
  width:88px;
  height:37px;
}
#u10136 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10137 {
  position:absolute;
  left:704px;
  top:37px;
  width:88px;
  height:37px;
}
#u10138 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10139 {
  position:absolute;
  left:792px;
  top:37px;
  width:88px;
  height:37px;
}
#u10140 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10141 {
  position:absolute;
  left:880px;
  top:37px;
  width:88px;
  height:37px;
}
#u10142 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10143 {
  position:absolute;
  left:968px;
  top:37px;
  width:88px;
  height:37px;
}
#u10144 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u10145 {
  position:absolute;
  left:1056px;
  top:37px;
  width:83px;
  height:37px;
}
#u10146 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u10147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10147 {
  position:absolute;
  left:0px;
  top:74px;
  width:88px;
  height:37px;
  font-size:16px;
}
#u10148 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u10149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10149 {
  position:absolute;
  left:88px;
  top:74px;
  width:88px;
  height:37px;
}
#u10150 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10151 {
  position:absolute;
  left:176px;
  top:74px;
  width:88px;
  height:37px;
}
#u10152 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10153 {
  position:absolute;
  left:264px;
  top:74px;
  width:88px;
  height:37px;
}
#u10154 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10155 {
  position:absolute;
  left:352px;
  top:74px;
  width:88px;
  height:37px;
}
#u10156 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10157 {
  position:absolute;
  left:440px;
  top:74px;
  width:88px;
  height:37px;
}
#u10158 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10159 {
  position:absolute;
  left:528px;
  top:74px;
  width:88px;
  height:37px;
}
#u10160 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10161 {
  position:absolute;
  left:616px;
  top:74px;
  width:88px;
  height:37px;
}
#u10162 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10163 {
  position:absolute;
  left:704px;
  top:74px;
  width:88px;
  height:37px;
}
#u10164 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10165 {
  position:absolute;
  left:792px;
  top:74px;
  width:88px;
  height:37px;
}
#u10166 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10167 {
  position:absolute;
  left:880px;
  top:74px;
  width:88px;
  height:37px;
}
#u10168 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10169 {
  position:absolute;
  left:968px;
  top:74px;
  width:88px;
  height:37px;
}
#u10170 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u10171 {
  position:absolute;
  left:1056px;
  top:74px;
  width:83px;
  height:37px;
}
#u10172 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u10173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10173 {
  position:absolute;
  left:0px;
  top:111px;
  width:88px;
  height:37px;
  font-size:16px;
}
#u10174 {
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u10175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10175 {
  position:absolute;
  left:88px;
  top:111px;
  width:88px;
  height:37px;
}
#u10176 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10177 {
  position:absolute;
  left:176px;
  top:111px;
  width:88px;
  height:37px;
}
#u10178 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10179 {
  position:absolute;
  left:264px;
  top:111px;
  width:88px;
  height:37px;
}
#u10180 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10181 {
  position:absolute;
  left:352px;
  top:111px;
  width:88px;
  height:37px;
}
#u10182 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10183 {
  position:absolute;
  left:440px;
  top:111px;
  width:88px;
  height:37px;
}
#u10184 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10185 {
  position:absolute;
  left:528px;
  top:111px;
  width:88px;
  height:37px;
}
#u10186 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10187 {
  position:absolute;
  left:616px;
  top:111px;
  width:88px;
  height:37px;
}
#u10188 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10189 {
  position:absolute;
  left:704px;
  top:111px;
  width:88px;
  height:37px;
}
#u10190 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10191 {
  position:absolute;
  left:792px;
  top:111px;
  width:88px;
  height:37px;
}
#u10192 {
  position:absolute;
  left:2px;
  top:10px;
  width:84px;
  word-wrap:break-word;
}
#u10193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10193 {
  position:absolute;
  left:880px;
  top:111px;
  width:88px;
  height:37px;
}
#u10194 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
}
#u10195 {
  position:absolute;
  left:968px;
  top:111px;
  width:88px;
  height:37px;
}
#u10196 {
  position:absolute;
  left:2px;
  top:2px;
  width:84px;
  word-wrap:break-word;
}
#u10197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:37px;
}
#u10197 {
  position:absolute;
  left:1056px;
  top:111px;
  width:83px;
  height:37px;
}
#u10198 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u10199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10199 {
  position:absolute;
  left:418px;
  top:304px;
  width:178px;
  height:16px;
}
#u10200 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u10201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10201 {
  position:absolute;
  left:261px;
  top:304px;
  width:178px;
  height:16px;
}
#u10202 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u10203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10203 {
  position:absolute;
  left:523px;
  top:264px;
  width:178px;
  height:16px;
}
#u10204 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u10205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u10205 {
  position:absolute;
  left:1464px;
  top:209px;
  width:17px;
  height:33px;
  font-size:28px;
}
#u10206 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u10207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10207 {
  position:absolute;
  left:736px;
  top:264px;
  width:210px;
  height:16px;
}
#u10208 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u10209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10209 {
  position:absolute;
  left:978px;
  top:264px;
  width:105px;
  height:16px;
}
#u10210 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u10211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10211 {
  position:absolute;
  left:261px;
  top:226px;
  width:108px;
  height:16px;
}
#u10212 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u10213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10213 {
  position:absolute;
  left:732px;
  top:304px;
  width:210px;
  height:16px;
}
#u10214 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u10215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10215 {
  position:absolute;
  left:1003px;
  top:304px;
  width:210px;
  height:16px;
}
#u10216 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u10217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10217 {
  position:absolute;
  left:1266px;
  top:304px;
  width:105px;
  height:16px;
}
#u10218 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
