body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1386px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1540px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11938 {
  position:absolute;
  left:20px;
  top:20px;
  width:1366px;
  height:1540px;
}
#u11939 {
  position:absolute;
  left:2px;
  top:762px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11940 {
  position:absolute;
  left:20px;
  top:20px;
  width:1366px;
  height:62px;
}
#u11941 {
  position:absolute;
  left:2px;
  top:23px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:62px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11942 {
  position:absolute;
  left:20px;
  top:20px;
  width:217px;
  height:62px;
}
#u11943 {
  position:absolute;
  left:2px;
  top:23px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:1480px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11944 {
  position:absolute;
  left:20px;
  top:80px;
  width:217px;
  height:1480px;
}
#u11945 {
  position:absolute;
  left:2px;
  top:732px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:33px;
}
#u11946 {
  position:absolute;
  left:50px;
  top:35px;
  width:148px;
  height:33px;
}
#u11947 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u11948 {
  position:absolute;
  left:1279px;
  top:20px;
  width:1px;
  height:62px;
}
#u11949 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11950 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:1453px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11952 {
  position:absolute;
  left:250px;
  top:96px;
  width:1125px;
  height:1453px;
}
#u11953 {
  position:absolute;
  left:2px;
  top:718px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:2px;
}
#u11954 {
  position:absolute;
  left:248px;
  top:170px;
  width:1125px;
  height:1px;
}
#u11955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u11956 {
  position:absolute;
  left:1177px;
  top:20px;
  width:1px;
  height:62px;
}
#u11957 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11958 {
  position:absolute;
  left:1194px;
  top:43px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u11959 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11960 {
  position:absolute;
  left:41px;
  top:94px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11961 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u11962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:46px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11962 {
  position:absolute;
  left:20px;
  top:127px;
  width:217px;
  height:46px;
}
#u11963 {
  position:absolute;
  left:2px;
  top:15px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11964 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11965 {
  position:absolute;
  left:43px;
  top:142px;
  width:14px;
  height:14px;
}
#u11966 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11967 {
  position:absolute;
  left:69px;
  top:141px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11970 {
  position:absolute;
  left:43px;
  top:190px;
  width:14px;
  height:14px;
}
#u11971 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11972 {
  position:absolute;
  left:69px;
  top:189px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u11973 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11975 {
  position:absolute;
  left:43px;
  top:235px;
  width:14px;
  height:14px;
}
#u11976 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11977 {
  position:absolute;
  left:69px;
  top:234px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:46px;
  background:inherit;
  background-color:rgba(68, 68, 68, 0.298039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11979 {
  position:absolute;
  left:20px;
  top:267px;
  width:217px;
  height:46px;
}
#u11980 {
  position:absolute;
  left:2px;
  top:15px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11981 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11982 {
  position:absolute;
  left:43px;
  top:283px;
  width:14px;
  height:14px;
}
#u11983 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11984 {
  position:absolute;
  left:69px;
  top:282px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u11985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11987 {
  position:absolute;
  left:43px;
  top:330px;
  width:14px;
  height:14px;
}
#u11988 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u11989 {
  position:absolute;
  left:69px;
  top:329px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u11990 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11992 {
  position:absolute;
  left:1279px;
  top:20px;
  visibility:hidden;
}
#u11992_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u11992_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11993 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:62px;
}
#u11994 {
  position:absolute;
  left:2px;
  top:23px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11997 {
  position:absolute;
  left:1279px;
  top:82px;
  width:107px;
  height:110px;
  overflow:hidden;
  visibility:hidden;
}
#u11997_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u11997_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 210, 211, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  color:#D1D2D3;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:110px;
  color:#D1D2D3;
}
#u12000 {
  position:absolute;
  left:2px;
  top:47px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D1D2D3;
}
#u12001 {
  position:absolute;
  left:1px;
  top:38px;
  width:104px;
  height:34px;
  color:#D1D2D3;
}
#u12002 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u12004 {
  position:absolute;
  left:11px;
  top:0px;
  width:83px;
  height:108px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u12006 {
  position:absolute;
  left:1298px;
  top:33px;
  width:88px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u12008 {
  position:absolute;
  left:1351px;
  top:48px;
}
#u12008_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12008_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12011 {
  position:absolute;
  left:3px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u12012 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12013 {
  position:absolute;
  left:10px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u12014 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12015 {
  position:absolute;
  left:1279px;
  top:28px;
  width:107px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12016 {
  position:absolute;
  left:1351px;
  top:48px;
  visibility:hidden;
}
#u12016_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12016_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12018 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12019 {
  position:absolute;
  left:3px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u12020 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u12021 {
  position:absolute;
  left:10px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u12022 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12024 {
  position:absolute;
  left:43px;
  top:372px;
  width:14px;
  height:14px;
}
#u12025 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12026 {
  position:absolute;
  left:69px;
  top:371px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12028 {
  position:absolute;
  left:571px;
  top:20px;
  width:108px;
  height:62px;
}
#u12029 {
  position:absolute;
  left:2px;
  top:23px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12031 {
  position:absolute;
  left:43px;
  top:409px;
  width:14px;
  height:14px;
}
#u12032 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12033 {
  position:absolute;
  left:69px;
  top:408px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u12034 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12035 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12036 {
  position:absolute;
  left:43px;
  top:446px;
  width:14px;
  height:14px;
}
#u12037 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12038 {
  position:absolute;
  left:69px;
  top:445px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u12039 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:36px;
}
#u12040 {
  position:absolute;
  left:261px;
  top:33px;
  width:429px;
  height:37px;
  color:#FFFFFF;
  line-height:36px;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
