<section class="content">
    <form name="form">
        <div class="box box-default" sl-load sl-view>
            <div class="box-header">
                <h3 class="box-title" ng-bind="page.title"></h3>
                <sl-breadcrumb></sl-breadcrumb>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-data margin-bottom addon-right padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">仓库名称</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.warehouseName" ng-maxlength="30" ng-maxlength="30" placeholder="30个字符以内" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">仓库编码</span>
                                <input type="text" name="name" class="form-control col-xs-9" ng-model="data.warehouseCode" maxlength="20" ng-maxlength="20" placeholder="20个字符以内" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">仓库类型</span>
                                <select class="form-control" ng-model="data.warehouseType" ng-options="v.id as v.label for v in page.deps.warehouseType" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">所属公司</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.warehouseCompany" maxlength="100" ng-maxlength="100" placeholder="100个字符以内">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">仓库地址</span>
                                <div  sl-area="page.deps.area" sl-area-model="data">
                                    
                                </div>
                                <!-- <input type="text" class="form-control col-xs-9" ng-model="data.warehouseCompany" ng-maxlength="200" placeholder=""> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">详细地址</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cAddress" maxlength="200" ng-maxlength="200" placeholder="200个字符以内">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">邮政编码</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cZip" maxlength="6" ng-maxlength="6" placeholder="6个字符以内">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <span class="input-group-addon">所属承运商</span>
                                <div class="sl-combo col-xs-12">
                                    <label ng-repeat="row in data.logisticsList">
                                        <input type="checkbox" class="nr-checkbox" ng-model="row.flag" ng-true-value="0" ng-false-value="-1" name="logisticsList" />
                                        <i></i> <span>{{row.logisticsName}}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="box-data margin-bottom addon-right padding split">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">联系人</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cContact" maxlength="20" ng-maxlength="20" placeholder="20个字符以内">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">联系电话</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cMobile" ng-maxlength="20" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">固定电话</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cTel" maxlength="20" ng-maxlength="20" placeholder="20个字符以内">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">传真</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cFax" maxlength="20" ng-maxlength="20" placeholder="20个字符以内">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">邮箱地址</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.cEmail" maxlength="50" ng-maxlength="50" placeholder="50个字符以内">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">是否启用</span>
                                <div sl-radio="data" sl-radio-model="status" class="sl-combo col-xs-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-normal" ng-disabled="form.$invalid" ng-click="save()">保存</button>
                <a class="btn btn-default" ng-back>返回</a>
            </div>
        </div>
    </form>
</section>
