<section class="content">
    <div class="box box-default" sl-load slt="{model:page.params , search: list}">
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- 功能操作区 -->
            <div class="box-operation">
                <div class="operation-wrap">
                    <!-- 跳转createye页面的链接 -->
                    <a href="/vps/server/create" class="btn btn-primary"><i class="fa fa-plus"></i>新增</a>
                </div>
                <div class="operation-quick">
                    <div class="ui-quick-search" slt-quick></div>
                    
                    <!-- <button class="btn btn-op" sl-search="page.params.options.base" sl-search-change="search"><i class="fa fa-filter"></i>筛选</button> -->
                    <button class="btn btn-default " sl-fields="page.fields.model" sl-fields-options="page.fields.options"><i class="fa fa-gear fa-only"></i></button>
                </div>
            </div>
            <div class="box-data">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="auto">服务</th>
                            <th>供应商</th>
                            <th>面板</th>
                            <th>系统</th>
                            <th>地区</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="6">
                                <span>暂无数据</span>
                            </td>

                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td>
                                <h5>{{row.label}}</h5>
                                <label>{{row.main_ip}}</label>
                            </td>
                            <td>{{row.provider_name}}</td>
                            <td><img class="img" src="/img/type_{{row.type}}.png" title="{{row.type}}">{{row.type}}</td>
                            <td>{{row.os}}</td>
                            <td>
                                <img sl-flag="row.location.country_id" />
                                <span>{{row.location.country}} {{row.location.city}}</span>
                                </td>
                            <td>
                                <a href="/vps/server/{{row['id']}}/manager">管理</a>
                                <a href="/vps/server/{{row['id']}}/edit">编辑</a>
                                <a ng-confirm="{title:'提示',content:'确定复制当前条目吗？',callback:copy,params:row}">复制</a>
                                <a ng-confirm="{title:'提示',content:'确定删除吗？',callback:remove,params:row}">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="table-pagination row" ng-show="data.length" slt-pagination="page.params.pag"></div>
            </div>
        </div>
    </div>
</section>