body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1458px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:1189px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23741 {
  position:absolute;
  left:20px;
  top:20px;
  width:1366px;
  height:1189px;
}
#u23742 {
  position:absolute;
  left:2px;
  top:586px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:62px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23743 {
  position:absolute;
  left:20px;
  top:20px;
  width:1366px;
  height:62px;
}
#u23744 {
  position:absolute;
  left:2px;
  top:23px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:62px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23745 {
  position:absolute;
  left:20px;
  top:20px;
  width:217px;
  height:62px;
}
#u23746 {
  position:absolute;
  left:2px;
  top:23px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:1126px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23747 {
  position:absolute;
  left:20px;
  top:82px;
  width:217px;
  height:1126px;
}
#u23748 {
  position:absolute;
  left:2px;
  top:555px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:33px;
}
#u23749 {
  position:absolute;
  left:50px;
  top:35px;
  width:148px;
  height:33px;
}
#u23750 {
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u23751 {
  position:absolute;
  left:1279px;
  top:20px;
  width:1px;
  height:62px;
}
#u23752 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23753 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:1092px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23755 {
  position:absolute;
  left:250px;
  top:96px;
  width:1125px;
  height:1092px;
}
#u23756 {
  position:absolute;
  left:2px;
  top:538px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1126px;
  height:2px;
}
#u23757 {
  position:absolute;
  left:248px;
  top:155px;
  width:1125px;
  height:1px;
}
#u23758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:63px;
}
#u23759 {
  position:absolute;
  left:1177px;
  top:20px;
  width:1px;
  height:62px;
}
#u23760 {
  position:absolute;
  left:2px;
  top:23px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23761 {
  position:absolute;
  left:1194px;
  top:43px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u23762 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23763 {
  position:absolute;
  left:41px;
  top:102px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23764 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:46px;
  background:inherit;
  background-color:rgba(68, 68, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23765 {
  position:absolute;
  left:20px;
  top:134px;
  width:217px;
  height:46px;
}
#u23766 {
  position:absolute;
  left:2px;
  top:15px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23767 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23768 {
  position:absolute;
  left:43px;
  top:150px;
  width:14px;
  height:14px;
}
#u23769 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23770 {
  position:absolute;
  left:69px;
  top:149px;
  width:113px;
  height:16px;
  color:#FFFFFF;
}
#u23771 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u23772 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23773 {
  position:absolute;
  left:43px;
  top:290px;
  width:14px;
  height:14px;
}
#u23774 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23775_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23775 {
  position:absolute;
  left:69px;
  top:289px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u23776 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23777 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23778 {
  position:absolute;
  left:43px;
  top:333px;
  width:14px;
  height:14px;
}
#u23779 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23780 {
  position:absolute;
  left:69px;
  top:332px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u23781 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23782 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23783 {
  position:absolute;
  left:1279px;
  top:20px;
  visibility:hidden;
}
#u23783_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23783_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23784 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:62px;
}
#u23785 {
  position:absolute;
  left:2px;
  top:23px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23786 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23787 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23788 {
  position:absolute;
  left:1279px;
  top:82px;
  width:107px;
  height:110px;
  overflow:hidden;
  visibility:hidden;
}
#u23788_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:110px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23788_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23789 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(209, 210, 211, 1);
  border-radius:0px;
  -moz-box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:0px 2px 5px rgba(102, 102, 102, 0.349019607843137);
  color:#D1D2D3;
}
#u23790 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:110px;
  color:#D1D2D3;
}
#u23791 {
  position:absolute;
  left:2px;
  top:47px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:34px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D1D2D3;
}
#u23792 {
  position:absolute;
  left:1px;
  top:38px;
  width:104px;
  height:34px;
  color:#D1D2D3;
}
#u23793 {
  position:absolute;
  left:2px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23794 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u23795 {
  position:absolute;
  left:11px;
  top:0px;
  width:83px;
  height:108px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u23796 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  word-wrap:break-word;
}
#u23797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u23797 {
  position:absolute;
  left:1298px;
  top:33px;
  width:88px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:36px;
}
#u23798 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u23799 {
  position:absolute;
  left:1351px;
  top:48px;
}
#u23799_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23799_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23800 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23801 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u23802 {
  position:absolute;
  left:3px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u23803 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u23804 {
  position:absolute;
  left:10px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u23805 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23806 {
  position:absolute;
  left:1279px;
  top:28px;
  width:107px;
  height:54px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u23807 {
  position:absolute;
  left:1351px;
  top:48px;
  visibility:hidden;
}
#u23807_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u23807_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23808 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u23810 {
  position:absolute;
  left:3px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u23811 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u23812 {
  position:absolute;
  left:10px;
  top:-1px;
  width:1px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u23813 {
  position:absolute;
  left:2px;
  top:-3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:62px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23814 {
  position:absolute;
  left:451px;
  top:20px;
  width:108px;
  height:62px;
}
#u23815 {
  position:absolute;
  left:2px;
  top:23px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:36px;
}
#u23816 {
  position:absolute;
  left:261px;
  top:33px;
  width:429px;
  height:37px;
  color:#FFFFFF;
  line-height:36px;
}
#u23817 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u23818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23819 {
  position:absolute;
  left:43px;
  top:202px;
  width:14px;
  height:14px;
}
#u23820 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23821 {
  position:absolute;
  left:69px;
  top:201px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u23822 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23824 {
  position:absolute;
  left:43px;
  top:247px;
  width:14px;
  height:14px;
}
#u23825 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23826 {
  position:absolute;
  left:69px;
  top:246px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u23827 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23830 {
  position:absolute;
  left:271px;
  top:114px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23831 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u23832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23832 {
  position:absolute;
  left:1204px;
  top:118px;
  width:254px;
  height:16px;
}
#u23833 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u23834 {
  position:absolute;
  left:277px;
  top:196px;
  width:1080px;
  height:277px;
}
#u23835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
}
#u23835 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23836 {
  position:absolute;
  left:2px;
  top:26px;
  width:70px;
  word-wrap:break-word;
}
#u23837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23837 {
  position:absolute;
  left:74px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23838 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:68px;
}
#u23839 {
  position:absolute;
  left:141px;
  top:0px;
  width:60px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23840 {
  position:absolute;
  left:2px;
  top:26px;
  width:56px;
  word-wrap:break-word;
}
#u23841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:68px;
}
#u23841 {
  position:absolute;
  left:201px;
  top:0px;
  width:68px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23842 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  word-wrap:break-word;
}
#u23843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:68px;
}
#u23843 {
  position:absolute;
  left:269px;
  top:0px;
  width:56px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23844 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u23845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u23845 {
  position:absolute;
  left:325px;
  top:0px;
  width:75px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23846 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  word-wrap:break-word;
}
#u23847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23847 {
  position:absolute;
  left:400px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23848 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23849 {
  position:absolute;
  left:467px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23850 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23851 {
  position:absolute;
  left:534px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23852 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23853 {
  position:absolute;
  left:601px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23854 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:68px;
}
#u23855 {
  position:absolute;
  left:668px;
  top:0px;
  width:64px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23856 {
  position:absolute;
  left:2px;
  top:26px;
  width:60px;
  word-wrap:break-word;
}
#u23857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u23857 {
  position:absolute;
  left:732px;
  top:0px;
  width:69px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23858 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u23859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:68px;
}
#u23859 {
  position:absolute;
  left:801px;
  top:0px;
  width:71px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23860 {
  position:absolute;
  left:2px;
  top:26px;
  width:67px;
  word-wrap:break-word;
}
#u23861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23861 {
  position:absolute;
  left:872px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23862 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u23863 {
  position:absolute;
  left:939px;
  top:0px;
  width:67px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23864 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  word-wrap:break-word;
}
#u23865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:68px;
}
#u23865 {
  position:absolute;
  left:1006px;
  top:0px;
  width:69px;
  height:68px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u23866 {
  position:absolute;
  left:2px;
  top:26px;
  width:65px;
  word-wrap:break-word;
}
#u23867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u23867 {
  position:absolute;
  left:0px;
  top:68px;
  width:74px;
  height:52px;
  color:#555555;
}
#u23868 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u23869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23869 {
  position:absolute;
  left:74px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23870 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u23871 {
  position:absolute;
  left:141px;
  top:68px;
  width:60px;
  height:52px;
  color:#555555;
}
#u23872 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u23873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u23873 {
  position:absolute;
  left:201px;
  top:68px;
  width:68px;
  height:52px;
  color:#555555;
}
#u23874 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u23875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u23875 {
  position:absolute;
  left:269px;
  top:68px;
  width:56px;
  height:52px;
  color:#555555;
}
#u23876 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u23877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u23877 {
  position:absolute;
  left:325px;
  top:68px;
  width:75px;
  height:52px;
  color:#555555;
}
#u23878 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u23879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23879 {
  position:absolute;
  left:400px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23880 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23881 {
  position:absolute;
  left:467px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23882 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23883 {
  position:absolute;
  left:534px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23884 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23885 {
  position:absolute;
  left:601px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23886 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u23887 {
  position:absolute;
  left:668px;
  top:68px;
  width:64px;
  height:52px;
  color:#555555;
}
#u23888 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u23889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23889 {
  position:absolute;
  left:732px;
  top:68px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23890 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
}
#u23891 {
  position:absolute;
  left:801px;
  top:68px;
  width:71px;
  height:52px;
  color:#555555;
}
#u23892 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u23893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23893 {
  position:absolute;
  left:872px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23894 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23895 {
  position:absolute;
  left:939px;
  top:68px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23896 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23897 {
  position:absolute;
  left:1006px;
  top:68px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23898 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u23899 {
  position:absolute;
  left:0px;
  top:120px;
  width:74px;
  height:52px;
  color:#555555;
}
#u23900 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u23901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23901 {
  position:absolute;
  left:74px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23902 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u23903 {
  position:absolute;
  left:141px;
  top:120px;
  width:60px;
  height:52px;
  color:#555555;
}
#u23904 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u23905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u23905 {
  position:absolute;
  left:201px;
  top:120px;
  width:68px;
  height:52px;
  color:#555555;
}
#u23906 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u23907 {
  position:absolute;
  left:269px;
  top:120px;
  width:56px;
  height:52px;
  color:#555555;
}
#u23908 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u23909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u23909 {
  position:absolute;
  left:325px;
  top:120px;
  width:75px;
  height:52px;
  color:#555555;
}
#u23910 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u23911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23911 {
  position:absolute;
  left:400px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23912 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23913 {
  position:absolute;
  left:467px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23914 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23915 {
  position:absolute;
  left:534px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23916 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23917 {
  position:absolute;
  left:601px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23918 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u23919 {
  position:absolute;
  left:668px;
  top:120px;
  width:64px;
  height:52px;
  color:#555555;
}
#u23920 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u23921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23921 {
  position:absolute;
  left:732px;
  top:120px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23922 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
}
#u23923 {
  position:absolute;
  left:801px;
  top:120px;
  width:71px;
  height:52px;
  color:#555555;
}
#u23924 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u23925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23925 {
  position:absolute;
  left:872px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23926 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23927 {
  position:absolute;
  left:939px;
  top:120px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23928 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23929 {
  position:absolute;
  left:1006px;
  top:120px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23930 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:52px;
}
#u23931 {
  position:absolute;
  left:0px;
  top:172px;
  width:74px;
  height:52px;
  color:#555555;
}
#u23932 {
  position:absolute;
  left:2px;
  top:18px;
  width:70px;
  word-wrap:break-word;
}
#u23933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23933 {
  position:absolute;
  left:74px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23934 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:52px;
}
#u23935 {
  position:absolute;
  left:141px;
  top:172px;
  width:60px;
  height:52px;
  color:#555555;
}
#u23936 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  word-wrap:break-word;
}
#u23937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:52px;
}
#u23937 {
  position:absolute;
  left:201px;
  top:172px;
  width:68px;
  height:52px;
  color:#555555;
}
#u23938 {
  position:absolute;
  left:2px;
  top:18px;
  width:64px;
  word-wrap:break-word;
}
#u23939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:52px;
}
#u23939 {
  position:absolute;
  left:269px;
  top:172px;
  width:56px;
  height:52px;
  color:#555555;
}
#u23940 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u23941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:52px;
}
#u23941 {
  position:absolute;
  left:325px;
  top:172px;
  width:75px;
  height:52px;
  color:#555555;
}
#u23942 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  word-wrap:break-word;
}
#u23943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23943 {
  position:absolute;
  left:400px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23944 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23945 {
  position:absolute;
  left:467px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23946 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23947 {
  position:absolute;
  left:534px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23948 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23949 {
  position:absolute;
  left:601px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23950 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:52px;
}
#u23951 {
  position:absolute;
  left:668px;
  top:172px;
  width:64px;
  height:52px;
  color:#555555;
}
#u23952 {
  position:absolute;
  left:2px;
  top:18px;
  width:60px;
  word-wrap:break-word;
}
#u23953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23953 {
  position:absolute;
  left:732px;
  top:172px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23954 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
}
#u23955 {
  position:absolute;
  left:801px;
  top:172px;
  width:71px;
  height:52px;
  color:#555555;
}
#u23956 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u23957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23957 {
  position:absolute;
  left:872px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23958 {
  position:absolute;
  left:2px;
  top:18px;
  width:63px;
  word-wrap:break-word;
}
#u23959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:52px;
}
#u23959 {
  position:absolute;
  left:939px;
  top:172px;
  width:67px;
  height:52px;
  color:#555555;
}
#u23960 {
  position:absolute;
  left:2px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u23961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:52px;
}
#u23961 {
  position:absolute;
  left:1006px;
  top:172px;
  width:69px;
  height:52px;
  color:#555555;
}
#u23962 {
  position:absolute;
  left:2px;
  top:18px;
  width:65px;
  word-wrap:break-word;
}
#u23963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:48px;
}
#u23963 {
  position:absolute;
  left:0px;
  top:224px;
  width:74px;
  height:48px;
  color:#555555;
}
#u23964 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u23965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23965 {
  position:absolute;
  left:74px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23966 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u23967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u23967 {
  position:absolute;
  left:141px;
  top:224px;
  width:60px;
  height:48px;
  color:#555555;
}
#u23968 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  word-wrap:break-word;
}
#u23969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:48px;
}
#u23969 {
  position:absolute;
  left:201px;
  top:224px;
  width:68px;
  height:48px;
  color:#555555;
}
#u23970 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  word-wrap:break-word;
}
#u23971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:48px;
}
#u23971 {
  position:absolute;
  left:269px;
  top:224px;
  width:56px;
  height:48px;
  color:#555555;
}
#u23972 {
  position:absolute;
  left:2px;
  top:16px;
  width:52px;
  word-wrap:break-word;
}
#u23973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:48px;
}
#u23973 {
  position:absolute;
  left:325px;
  top:224px;
  width:75px;
  height:48px;
  color:#555555;
}
#u23974 {
  position:absolute;
  left:2px;
  top:16px;
  width:71px;
  word-wrap:break-word;
}
#u23975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23975 {
  position:absolute;
  left:400px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23976 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u23977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23977 {
  position:absolute;
  left:467px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23978 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23979 {
  position:absolute;
  left:534px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23980 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23981 {
  position:absolute;
  left:601px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23982 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u23983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:48px;
}
#u23983 {
  position:absolute;
  left:668px;
  top:224px;
  width:64px;
  height:48px;
  color:#555555;
}
#u23984 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u23985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u23985 {
  position:absolute;
  left:732px;
  top:224px;
  width:69px;
  height:48px;
  color:#555555;
}
#u23986 {
  position:absolute;
  left:2px;
  top:16px;
  width:65px;
  word-wrap:break-word;
}
#u23987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
}
#u23987 {
  position:absolute;
  left:801px;
  top:224px;
  width:71px;
  height:48px;
  color:#555555;
}
#u23988 {
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u23989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23989 {
  position:absolute;
  left:872px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23990 {
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u23991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:48px;
}
#u23991 {
  position:absolute;
  left:939px;
  top:224px;
  width:67px;
  height:48px;
  color:#555555;
}
#u23992 {
  position:absolute;
  left:2px;
  top:8px;
  width:63px;
  word-wrap:break-word;
}
#u23993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:48px;
}
#u23993 {
  position:absolute;
  left:1006px;
  top:224px;
  width:69px;
  height:48px;
  color:#555555;
}
#u23994 {
  position:absolute;
  left:2px;
  top:16px;
  width:65px;
  word-wrap:break-word;
}
#u23995 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1075px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23996 {
  position:absolute;
  left:277px;
  top:467px;
  width:1075px;
  height:68px;
}
#u23997 {
  position:absolute;
  left:2px;
  top:26px;
  width:1071px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23999 {
  position:absolute;
  left:299px;
  top:493px;
  width:264px;
  height:16px;
}
#u24000 {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  word-wrap:break-word;
}
#u24001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u24001 {
  position:absolute;
  left:464px;
  top:487px;
  width:61px;
  height:28px;
  text-align:left;
}
#u24002 {
  position:absolute;
  left:2px;
  top:6px;
  width:57px;
  word-wrap:break-word;
}
#u24003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:6px;
}
#u24003 {
  position:absolute;
  left:504px;
  top:499px;
  width:11px;
  height:6px;
}
#u24004 {
  position:absolute;
  left:2px;
  top:-5px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24006 {
  position:absolute;
  left:1255px;
  top:487px;
  width:47px;
  height:28px;
}
#u24007 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u24008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24008 {
  position:absolute;
  left:1307px;
  top:487px;
  width:33px;
  height:28px;
}
#u24009 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u24010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24010 {
  position:absolute;
  left:1187px;
  top:487px;
  width:33px;
  height:28px;
}
#u24011 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u24012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u24012 {
  position:absolute;
  left:1109px;
  top:487px;
  width:33px;
  height:28px;
  color:#CCCCCC;
}
#u24013 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u24014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u24014 {
  position:absolute;
  left:1141px;
  top:487px;
  width:47px;
  height:28px;
  color:#FFFFFF;
}
#u24015 {
  position:absolute;
  left:2px;
  top:6px;
  width:43px;
  word-wrap:break-word;
}
#u24016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u24016 {
  position:absolute;
  left:1077px;
  top:487px;
  width:33px;
  height:28px;
  color:#CCCCCC;
}
#u24017 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u24018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u24018 {
  position:absolute;
  left:1219px;
  top:487px;
  width:33px;
  height:28px;
  color:#999999;
}
#u24019 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  word-wrap:break-word;
}
#u24020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u24023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24023 {
  position:absolute;
  left:717px;
  top:627px;
  width:160px;
  height:40px;
}
#u24024 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u24025 {
  position:absolute;
  left:627px;
  top:611px;
  width:375px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
