<section class="content">
    <form name="form">
    <div class="box box-default" >
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body"> 
            <div class="box-data margin-bottom addon-right padding " >
                <div class="row">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">选择调整类型：</span>
                            <div class="radio-combo">                      
                                <label class="mypad">
                                    <input class="nr-radio" style="display: inline-block;" type="radio" name="radio" value="1" ng-model="data.choose"><span>数量调整</span> 
                                </label> 
                                <label class="mypad">
                                    <input class="nr-radio" style="display: inline-block;" type="radio" name="radio" value="2" ng-model="data.choose"><span>库位移动</span>
                                </label>
                                <label class="mypad">
                                    <input class="nr-radio" style="display: inline-block;" type="radio" name="radio" value="3" checked="true" ng-model="data.choose"><span>批号调整</span> 
                                </label>
                                <label class="mypad">
                                    <input class="nr-radio" style="display: inline-block;" type="radio" name="radio" value="4" ng-model="data.choose"><span>冻结/释放库存 </span> 
                                </label>
                            </div>
                        </div>                      
                    </div>                       
                </div>
            </div>   
            <div class="box-data margin-bottom addon-right padding split" >
                <div class="row">
                    <div class="col-sm-1">
                        <span class="input-group-addon">现有状态</span>
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">商家名称：</span>
                            <label ng-bind="data0.ownerName"></label>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">店铺名称：</span>
                            <label ng-bind="data0.shopName"></label> 
                        </div>  
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">商品名称：</span>
                            <label ng-bind="data0.skuName"></label>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">商品编码：</span>
                            <label ng-bind="data0.skuCode"></label>
                        </div>       
                    </div> 
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">库位编码：</span>
                            <label ng-bind="data0.locationCode"></label>
                        </div>
                        
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">系统批号：</span>
                            <label ng-bind="data0.lot"></label>
                        </div> 
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">商家批号：</span>
                            <label ng-bind="data0.customerLot"></label>
                        </div>                       
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">库存状态：</span>
                            <label ng-bind="data0.inventoryStatusName"></label>
                        </div>                       
                    </div> 
                </div>
               <div class="row">
                    <div class="col-sm-3">
                        <div class="input-group">
                                <span class="input-group-addon">库存：</span>
                                <label ng-bind="data0.quantity"></label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="input-group">
                                <span class="input-group-addon">占用库存：</span>
                                <label ng-bind="data0.allocateQty"></label>
                        </div>
                    </div> 
                    <div class="col-sm-3">
                        <div class="input-group">
                                <span class="input-group-addon">在途库存：</span>
                                <label ng-bind="data0.putawayQty"></label>
                        </div>
                    </div> 
                    <div class="col-sm-3">
                        <div class="input-group">
                                <span class="input-group-addon">冻结库存：</span>
                                <label ng-bind="data0.frozenQty"></label>
                        </div>
                    </div>  
                </div>
            </div>
            <!-- 数量调整           -->
            <div ng-if="data.choose == 1" class="box-data split" >
                <div class="box-data addon-right margin-bottom padding">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon">数量调整</span>
                            </div>
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">数量</span>
                                <input placeholder="请输入最终库存数量(大于0)" ng-pattern='/^[0-9]\d*$/' class="form-control" type="number" name="" ng-model='data.quantity'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">调整原因</span>
                                <textarea class="form-control" ng-model='data.remark'></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 库位移动 -->
            <div ng-if="data.choose == 2" class="box-data split" >
                <div class="box-data addon-right margin-bottom padding">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon">库位移动</span>
                            </div>
                        </div>     
                    </div>
                    <div class="row">
                        <!-- 此处为迷糊查询 -->
                        <div class="col-sm-3">
                            <div class="input-group input-group-icon">
                                <span class="input-group-addon">移入库位</span>
                                <!-- <input class="form-control" type="text" name=""/> -->
                                <div class="suggest-box" auto-complete='loc_options'>

                                    <input type="text" class="form-control col-xs-9" ng-model="data.locId" placeholder="请输入库位(此处为预查询)"/>
                                    <span class="input-group-addon span-icon"><i class="fa fa-search"></i></span>
                                </div>

                                <!-- <span class="input-group-addon span-icon"><i class="fa fa-search"></i></span> -->
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">移入数量</span>
                                <input placeholder="移入数量必须大于0" class="form-control" type="number" name=""
                                  ng-model='data.quantity' ng-pattern='/^[0-9].*$/' >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">商品状态</span>
                                <select class="form-control" ng-options="v.id as v.label for v in page.fields.ware.inventoryStatus" ng-model="data.inventoryStatus" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">调整原因</span>
                                <textarea class="form-control" ng-model='data.remark'></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 批号调整 -->
            <div ng-if="data.choose == 3" class="box-data split" >
                <div class="box-data addon-right margin-bottom padding">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon">批号调整</span>
                            </div>
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <a ng-click="change.edit()" class="input-group input-group-icon">
                                <span class="input-group-addon">系统批号</span>
                                <input class="form-control" ng-model='data.lot' type="text" name=""/>
                                <span class="input-group-addon span-icon"><i class="fa fa-search"></i></span>
                            </a>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">数量</span>
                                <input class="form-control" placeholder="数量必须大于0" ng-pattern='/^[1-9]\d*$/'  type="text" name="" ng-model='data.quantity'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">调整原因</span>
                                <textarea class="form-control"  ng-model='data.remark' ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 冻结释放库存 -->
            <div ng-if="data.choose == 4" class="box-data split" >
                <div class="box-data addon-right margin-bottom padding">
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="input-group">
                                <span class="input-group-addon">冻结/释放库存</span>
                            </div>
                        </div>     
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">冻结数量</span>
                                <input placeholder="冻结数量不能小于0" class="form-control" type="number" ng-pattern='/^[0-9]\d*$/' ng-model = 'data.quantity'>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">调整原因</span>
                                <textarea class="form-control" ng-model = 'data.remark'></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="box-footer">
                 <a class="btn btn-default" ng-back>返回</a>
                <button class="btn btn-normal" ng-disabled="form.$invalid" ng-click="save()">确认调整</button>
            </div>
            </div>
    </div>
    </form>
</section>




<!-- 库存调整(批号调整)按钮弹出框 -->
 <script type="text/ng-template" id="change/edit.html">
    <div class="modal fade in" style="display:block;">
        <div class="modal-dialog" slt="{model:page.params , search: list}" >
        <!-- <div class="modal-dialog" > -->

            <div class="modal-content overflow-modal box box-default" style="width: 120rem; position: relative;
                left: -70%;"> 
                <form name="form"  >
                    <div class="modal-body" >
                        <div class="box-data addon-right padding" >
                            <div class="row">
                                <div class="col-sm-5 ">
                                    <div class="input-group">
                                        <span class="input-group-addon">商家批号</span>
                                        <input type="text" class="form-control col-xs-9" ng-model="data.customerLot" maxlength="50" ng-maxlength="50" placeholder="请扫描运单号" >
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-group ">
                                        <span class="input-group-addon">生产日期</span>
                                       <input type="text" class="form-control col-xs-9" ng-model="data.produceDate" placeholder="请扫描运单号" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 ">
                                    <div class="input-group">
                                        <span class="input-group-addon">失效日期</span>
                                        <input type="text" class="form-control col-xs-9" ng-model="data.expiryDate" placeholder="请扫描运单号" >
                                    </div>
                                </div>
                                <div class="col-sm-5 ">
                                    <div class="input-group ">
                                        <span class="input-group-addon">入库日期</span>
                                       <input type="text" class="form-control col-xs-9" ng-model="data.storageDate"  placeholder="请扫描运单号" >
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="input-group ">
                                       <button class="btn btn-normal" ng-click="search(data,page.params)">查询</button>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered table-striped" sl-table-check>
                                <thead>
                                    <tr>
                                        <th>
                                            <label>
                                                <input type="checkbox" ng-model="paras.checkall"/>
                                                <i class="fa"></i>
                                            </label>
                                        </th>
                                        <th>序号</th>
                                        <th>系统批号</th> 
                                        <th>商家批号</th> 
                                        <th>生产日期</th> 
                                        <th>入库日期</th> 
                                        <th>批次属性5</th> 
                                        <th>批次属性6</th> 
                                        <th>批次属性7</th> 
                                        <th>批次属性8</th> 
                                        <th>批次属性9</th> 
                                    </tr>
                                </thead>
                                <tbody ng-if="!data.list.length">
                                    <tr>
                                        <td class="nodata" colspan="11">
                                            <span>暂无数据</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody ng-if="data.list.length">
                                    <tr ng-repeat="row in data.list">
                                        <td>
                                            <label>
                                                <input type="checkbox" ng-model="row.checked"/>
                                                <i class="fa"></i>
                                            </label>
                                        </td>
                                        <td ng-repeat="field in page.fields">
                                            <span >{{row[field.key]}}</span>     
                                        </td> 
                                    </tr>
                                </tbody>
                            </table>
                            <!-- 分页用插件 -->
                            <div class="box-page row" ng-show="true" slt-pagination="page.params.pag"></div>  
                        </div>
                    </div>                                                
                    <div class="modal-footer text-center">
                        <button class="btn btn-primary pull-center" ng-if="!page.view" ng-click="close(true)" ng-disabled="form.$invalid">确定</button>
                        <a class="btn btn-default pull-center" ng-click="close(false)">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

