<section class="content">
    <form name="form">
        <div class="box box-default" sl-load sl-view>
            <div class="box-header">
                <h3 class="box-title" ng-bind="page.title"></h3>
                <sl-breadcrumb></sl-breadcrumb>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="box-data margin-bottom addon-left padding">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">商品名称</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.skuName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">商品编码</span>
                                <input type="text" name="name" class="form-control col-xs-9"  ng-model="data.skuCode">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">所属商家</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.ownerName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">所属店铺</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.shopName">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">库位编码</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.locationCode">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">所属仓库</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.warehouseName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">所属上架区</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.billType">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">所属拣货区</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.businessType">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">库存单位</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.logisticsName">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">库存状态</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.waybillNo">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次号</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.waybillType">
                            </div>
                        </div>
                    </div>
                    <div class="row split">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">入库日期</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">生产日期</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">近效日期</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">失效日期</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">现有库存</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">分配库存</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">在途库存</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">冻结库存</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次属性1</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次属性2</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次属性3</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次属性4</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group">
                                <span class="input-group-addon">批次属性5</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.billVo.orderTime">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="box-footer">
                <!-- <button class="btn btn-normal" ng-disabled="form.$invalid" ng-click="save()">保存</button> -->
                <a class="btn btn-default" ng-back>返回列表</a>
            </div>
        </div>
    </form>
</section>