<section class="content">
    <div class="box box-default" sl-load sl-view>
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <!-- /.box-header -->
        <div class="box-body" sl-tab>
            <div title="基础信息">
                <div class="box-data margin-bottom addon-right padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">规则名称</span>
                                <input type="text" class="form-control col-xs-9" ng-model="data.ruleName" maxlength="100" ng-maxlength="100" placeholder="100个字符以内" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <span class="input-group-addon">规则编码</span>
                                <input type="text" name="name" class="form-control col-xs-9" ng-model="data.ruleCode" maxlength="100" ng-maxlength="100" placeholder="100个字符以内">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">所属商家</span>
                                <select class="form-control" ng-model="data.ownerId" ng-options="v.id as v.label for v in page.deps.ownerId"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group require">
                                <span class="input-group-addon">所属仓库</span>
                                <select class="form-control" ng-model="data.warehouseId" ng-options="v.id as v.label for v in page.deps.warehouseId"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">规则说明</span>
                                <textarea class="form-control col-xs-9" ng-model="data.remark" maxlength="500" ng-maxlength="500" placeholder="500个字符以内"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="input-group">
                                <span class="input-group-addon">是否启用</span>
                                <div sl-radio="data" sl-radio-model="status" class="sl-combo col-xs-12"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div title="规则明细">
                    <div class="box-operation">
                        <div class="operation-wrap">
                            <a ng-click="detail.create()" class="btn btn-normal"><i class="fa fa-plus"></i>新增</a>
                        </div>
                    </div>
                    <table class="table table-bordered table-striped through">
                        <thead>
                            <tr>
                                <th>行号</th>
                                <th>策略名称</th>
                                <th>规则说明</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in data.pickingRuleDetailVOList track by $index">
                                <td ng-bind="row.orderNum"></td>
                                <td ng-bind="row.tacticsName"></td>
                                <td ng-bind="row.remark"></td>
                                <td>
                                    <a ng-click="detail.view(row)">查看</a>
                                    <a ng-click="detail.edit(row)">编辑</a>
                                    <a ng-click="detail.remove($index)">删除</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        <div class="box-footer">
            <button class="btn btn-normal" ng-disabled="form.$invalid" ng-click="save()">保存</button>
            <a class="btn btn-default" ng-back>返回</a>
        </div>
    </div>
</section>

<!-- 新增/编辑 规则详情 -->
<script type="text/ng-template" id="rule/wave/detail/edit.html">
    <div class="modal fade in large" style="display:block;">
        <div class="modal-dialog">
            <div class="modal-content overflow-modal box box-default" sl-view >
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close(false)"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" ng-bind="page.title"></h4>
                </div>
                <form name="form">
                    <div class="modal-body" >
                        <div class="box-data addon-right padding">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group require">
                                        <span class="input-group-addon">行号</span>
                                        <input type="text" class="form-control col-xs-9" ng-disabled="page.orderNum" ng-model="data.orderNum" maxlength="10" ng-maxlength="10" placeholder="10个字符以内" required>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group require">
                                        <span class="input-group-addon">策略名称</span>
                                        <select class="form-control" ng-model="data.tacticsId" ng-options="v.id as v.label for v in page.deps.tacticsId" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品类别</span>
                                        <select class="form-control" ng-model="data.goodsCateId" ng-options="v.id as v.label for v in page.deps.goodsCateId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">包装级别</span>
                                        <select class="form-control" ng-model="data.unitId" ng-options="v.id as v.label for v in page.deps.unitId"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">商品状态</span>
                                        <select class="form-control" ng-model="data.inventoryStatus" ng-options="v.id as v.label for v in page.deps.inventoryStatus"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">空间限制</span>
                                        <select class="form-control">
                                            <option>没有限制</option>
                                            <option>同品合并</option>
                                            <option>多商品混放</option>
                                            <option>货品固定货位</option>
                                            <option>空货位</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">批次号</span>
                                        <select class="form-control">
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">指定商品</span>
                                        <select class="form-control">
                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">规则说明</span>
                                        <textarea class="form-control col-xs-9"  ng-model="data.remake" maxlength="500" ng-maxlength="500" placeholder="500个字符以内"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button class="btn btn-primary pull-center" ng-click="close(true)" ng-disabled="form.$invalid">确定</button>
                        <a class="btn btn-default pull-center" ng-click="close(false)">取消</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>