<section class="content">
    <div class="box box-default" sl-load slt="{model:page.params , search: list}">
        <div class="box-header">
            <h3 class="box-title" ng-bind="page.title"></h3>
            <sl-breadcrumb></sl-breadcrumb>
        </div>
        <div class="box-body">
            <div class="box-operation">
                <div class="operation-wrap">
                    <button class="btn btn-normal" sl-batch="{'data':data ,'title':'注意','content':'确定要一键复核嘛？', 'callback':puton}">一键复核</button>
                    <a class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':2,'update':true}"><i class="fa fa-print"></i>波次单</a>
                    <a class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':3,'update':true}"><i class="fa fa-print"></i>随箱单</a>
                    <a disabled class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':5}"><i class="fa fa-print"></i>发票</a>
                    <a disabled class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':9}"><i class="fa fa-print"></i>订单标签</a>
                    <a class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':1,'update':true}"><i class="fa fa-print"></i>快递单</a>
                    <a disabled class="btn btn-normal ng-isolate-scope" sl-print="{'data':data,'id':1}"><i class="fa fa-print"></i>套打</a>
                </div>

                <div class="operation-quick">            
                    <div class="ui-quick-search" slt-quick></div> 

                    <!-- 高级筛选 -->
                    <button class="btn btn-op" sl-search="page.params.options.base" sl-search-change="search"><i class="fa fa-filter"></i>筛选</button>
                    
                    <button class="btn btn-op " sl-fields="page.fields.options" sl-fields-options="page.fields.options"><i class="fa fa-gear fa-only"></i></button>
                </div>               
            </div>
            <div class="box-data">
                <table class="table table-bordered table-striped" slt-check>
                    <thead>
                        <tr>
                            <th>
                                <label>
                                    <input type="checkbox"/>
                                    <i class="fa"></i>
                                </label>
                            </th>
                            <th ng-repeat="row in page.fields.options" slt-filter="row"></th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-if="!data.length">
                        <tr>
                            <td class="nodata" colspan="{{page.fields.options.length+2}}">
                                <span>暂无数据</span>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-if="data.length">
                        <tr ng-repeat="row in data">
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="row.checked"/>
                                    <i class="fa"></i>
                                </label>
                            </td>
                            <td ng-repeat="field in page.fields.options">
                                <span>{{row[field.key]}}</span>
                            </td>
                            <td>
                                <a href="/outstock/wave/{{row['id']}}" ng-click="aa(row['status'])">查看</a>
                                <a ng-if="row['status'] == 0 " href="/outstock/wave/{{row['id']}}/change" >修改</a>
                                <a ng-confirm="{title:'提示',content:'是否删除波次？',callback:del , params:row}" ng-if="row['status'] == 0 ">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="box-page row" ng-show="data.length" slt-pagination="page.params.pag"></div>
            </div>
        </div>
    </div>
</section>